/* ------------------------------------------------------- */
/* Encabezado */
.titulo_novedades {
    color: #CA4E3C;
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
}

.sub_novedades {
    color: #5D717C;
    font-size: 23px;
    font-style: normal;
    line-height: 40px;
}

.encabezado_novedades {
    margin-top: 35px;
    padding-left: 128px;
}

/* ------------------------------------------------------- */

/* Tarjetas */

.card_individual_novedades {
    height: 495px;
    background-color: #DAEBEB;
    max-width: 28rem;
    border-radius: 15px;
}

.imagen_novedades {
    padding: 5px;
    height: 400px;
    width: 100%;
    border-radius: 15px;
}

.titulo_novedades_card {
    color: #000;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
}

.talle_novedades {
    color: #000;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

.precio_novedades {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

/* ------------------------------------------------------- */

.card_individual_novedades {
    position: relative;
}

/* Loading */ 
.loading_novedades{
    padding-left: 98px;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {

    /* ------------------------------------------------------- */
    /* Encabezado */
    .titulo_novedades {
        font-size: 14px;
        line-height: 20px;
    }

    .encabezado_novedades {
        margin-top: 15px;
        padding-left: 20px;
    }

    .sub_novedades {
        font-size: 12px;
        line-height: 20px;
    }

    /* ------------------------------------------------------- */

    /* Tarjetas */
    .tarjetas_novedades {
        width: 351px;
    }

    .card_individual_novedades {
        height: 240px;
        max-width: 160px;
        border-radius: 10px;
    }

    .imagen_novedades {
        height: 145px;
        border-radius: 10px;
    }

    .titulo_novedades_card {
        font-size: 12px;
        font-weight: bold;
    }

    .talle_novedades {
        font-size: 11px;
    }

    .precio_novedades {
        font-size: 11px;
        margin-bottom: 10px;
    }

}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}