/* principal */
.div_formulario_iniciosesion_principal {
    width: 960px;
    height: 680px;
    border-radius: 100px;
    background: #DAEBEB;
    display: flex;

    background: rgba(218, 235, 235, 0.65);
    backdrop-filter: blur(10px);
}

.div_formulario_iniciosesion_imagen {
    width: 425px;
    height: 680px;
    position: relative;
}

.formulario_iniciosesion_imagen {
    border-radius: 100px 0px 0px 100px;
}

.div_iniciosesion_registro {
    width: 618px;
    height: 680px;
}

/* ------------------------------------------------------------------ */
/* Titulos */

.iniciar_sesion {
    color: #CA4E3C;
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
    padding-top: 92px;
    padding-left: 32px;
}

.completa_tus_datos_sesion {
    color: #5D717C;
    font-size: 18px;
    font-style: normal;
    line-height: 40px;
    padding-left: 32px;
}

.olvidaste_contra {
    color: #000;
    text-align: right;
    padding-right: 62px;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
}

/* -------------------------------------------------------- */
/* Inputs */

.formulario_iniciarsesion_inputs {
    padding-left: 32px;
    padding-top: 32px;
}

.iniciosesion_inputs {
    display: flex;
    width: 443px;
    height: 50px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    border: 1px solid #000;
    background: #FFF;
    margin-bottom: 15px;
}

.no_tengo_cuenta {
    color: #5D717C;
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
}

.ingresar_o {
    color: #888;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
}

/* -------------------------------------------------------- */
/* Botones */

.div_botonGuardar_ingresar {
    border-radius: 100px;
    background: #CA4E3C;
    width: 185px;
    height: 54px;
    gap: 10px;
    margin-top: 28px;
    margin-left: -32px;
}

.botonGuardar_ingresar {
    padding-top: 5px;
}

/* -------------------------------------------------------- */
/* Google */

.boton_iniciarsesion_con_google {
    display: flex;
    width: 309px;
    height: 54px;
    padding: 10px;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    background: #FFF;
}

.div_iniciar_con_google {
    padding-top: 23px;
}

.icono_google_iniciarsesion {
    width: 29px;
    height: 33px;
}

.texto_iniciarsesion_google {
    color: #5D717C;
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
}

/* -------------------------------------------------------- */
/* Loader */

.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    border: 1px solid #000;
    height: 150px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ddd 50%, #bbb 51%),
        linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%);
    background-position: 0 20px, 45px 0, 8px 6px, 55px 3px, 75px 3px, 95px 3px;
    background-size: 100% 4px, 1px 23px, 30px 8px, 15px 15px, 15px 15px, 15px 15px;
    position: relative;
    border-radius: 6%;
    animation: shake 3s ease-in-out infinite;
    transform-origin: 60px 180px;
    border: 1px solid #000;
}


/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {

    /* ------------------------------------------------------------------ */
    /*Div principal*/
    .div_formulario_iniciosesion_principal {
        flex-direction: column;
        width: 320px;
        height: 520px;
        border-radius: 50px;
    }

    .div_formulario_iniciosesion_imagen {
        width: 100%;
        height: 180px;
        position: relative;
    }

    .formulario_iniciosesion_imagen {
        border-radius: 50px 50px 0px 0px;
        position: relative !important;
    }

    .div_iniciosesion_registro {
        width: 320px;
        height: 520px;
    }

    /* ------------------------------------------------------------------ */
    /* Titulos */
    .iniciar_sesion {
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        padding-top: 4px;
        padding-left: 6px;
    }

    .completa_tus_datos_sesion {
        font-size: 16px;
        line-height: 20px;
        padding-left: 6px;
    }

    .olvidaste_contra {
        text-align: right;
        padding-right: 6px;
        font-size: 10px;
    }

    .no_tengo_cuenta {
        font-size: 12px;
        font-style: normal;
        line-height: 25px;
    }

    .ingresar_o {
        font-size: 12px;
        line-height: 10px;
    }

    /* -------------------------------------------------------- */
    /* Inputs */

    .formulario_iniciarsesion_inputs {
        padding-left: 6px;
        padding-top: 10px;
    }

    .iniciosesion_inputs {
        width: 443px;
        height: 35px;
        gap: 5px;

        border-radius: 50px;
        margin-bottom: 8px;
    }

    /* -------------------------------------------------------- */
    /* Botones */
    .div_botonGuardar_ingresar {
        border-radius: 50px;
        width: 110px;
        height: 35px;
        gap: 1px;
        margin-top: 8px;
        margin-left: 0px;
    }

    .botonGuardar_ingresar {
        padding-top: 5px;
    }

    /* -------------------------------------------------------- */
    /* Google */
    .boton_iniciarsesion_con_google {
        width: 309px;
        height: 40px;
        padding: 5px;
        gap: 1px;
        border-radius: 100px;
    }

    .div_iniciar_con_google {
        padding-top: 10px;
    }

    .icono_google_iniciarsesion {
        width: 25px;
        height: 27px;
    }

    .texto_iniciarsesion_google {
        font-size: 14px;
        line-height: 20px;
    }

}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}