.texto_barra {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.titulo_barra {
    color: #CA4E3C;
    font-size: 30px;
    font-style: normal;
    line-height: 40px;
    text-align: center;
}

.barra_busqueda {
    display: flex;
    justify-content: center;
    padding-top: 9px;
}

.input_container_barra{
    position: relative;
    display: flex;
    align-items: center;
}

.input_barra {
    width: 660px;
    height: 52px;
    padding: 10px;
    border-width: 1;
    border-color: black;
    border-radius: 25px;
    box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.25);

    /* Letra */
    color: #757575;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
}

.boton_lupa_barra {
    display: flex;
    width: 70px;
    height: 52px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 80px;
    background: #CA4E3C;

    position: absolute;
    right: 0;
}

.svg_boton_lupa_barra {
    width: 2rem;
    height: 2rem;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {
    .titulo_barra {
        font-size: 16px;
        margin-left: 60px;
    }
    
    .input_barra {
        margin-left: 60px;
        width: 250px;
        height: 27px;
        font-size: 10px;
    } 
    
    .boton_lupa_barra {
        width: 35px;
        height: 27px;
    }

    .texto_barra {
        padding-top: 0px;
    }

    .svg_boton_lupa_barra {
        width: 1.5rem;
        height: 1.5rem;
    }

    .barra_busqueda_contenedor {
        width: 100%;
        margin-top: -10px;
    }

    .barra_busqueda {
        padding-top: 3px;
    }
}

@media screen and (min-width: 351px) and (max-width: 600px) {
    /* Contenedor principal */
    .barra_busqueda_contenedor {
        width: 385px;
    }

    .titulo_barra {
        font-size: 16px;
        padding-top: 6px;
        margin-left: 10px;
    }

    /* Div contenedor del titulo */
    .texto_barra {
        padding-top: 0px; /*Cancela el original */
    }
    
    .barra_busqueda {
        padding-top: 1px;
    }

    .input_barra {
        width: 290px;
        height: 29px;
        font-size: 12px;
        margin-left: 10px;
    } 

    .boton_lupa_barra {
        width: 35px;
        height: 29px;
    }

    .svg_boton_lupa_barra {
        width: 1.5rem;
        height: 1.5rem;
    }

}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {

}