.ropa_para_Todos_h1 {
    color: #CA4E3C;
    font-size: 28px;
    font-style: normal;
    line-height: 40px; /* 142.857% */
    padding: 107px 0px 20px 120px;
}

.ropaParaTodos_cardtodos{
    margin-bottom: 150px;
    margin-top: 60px;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {

}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {

}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {
    
}