.titulo_voces {
    color: #CA4E3C;
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
}

.sub_voces {
    color: #5D717C;
    font-size: 23px;
    font-style: normal;
    line-height: 40px;
}

.encabezado_voces {
    padding-left: 128px;
    margin-top: 43px;
}


/* ------------------------------------------------------- */
/* Iconos de estrellas */

.estrellas_voces {
    width: 1.5rem;
    height: 1.5rem;
}


/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    .titulo_voces {
        font-size: 14px;
        font-weight: bold;
    }

    .encabezado_voces {
        padding-left: 20px;
        margin-top: 10px;
    }

    .sub_voces {
        font-size: 11px;
        line-height: 20px;
    }

    /* ------------------------------------------------------- */
    /* Cards */
    .card_voces {
        height: 230px;
    }

    .mensajes_voces {
        font-size: 11px;
        margin-bottom: 0px;
        line-height: 1.1rem;
    }

    .nombre_voces {
        font-size: 14px;
        margin-bottom: 0.55rem;
        line-height: 1.1rem;
        font-weight: 400;
    }

    /* ------------------------------------------------------- */
    /* Iconos de estrellas */

    .estrellas_voces {
        width: 1rem;
        height: 1rem;
    }


}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}