/* -------------------------------------------------------- */
/* Div principal */
.div_formulario_registro_principal {
    width: 960px;
    height: 680px;
    border-radius: 100px;
    background: #DAEBEB;
    display: flex;

    background: rgba(218, 235, 235, 0.65);
    backdrop-filter: blur(10px);
}

.div_formulario_registro_imagen {
    width: 425px;
    height: 680px;
    position: relative;
}

.formulario_registro_imagen {
    border-radius: 100px 0px 0px 100px;
}

.div_formulario_registro {
    width: 425px;
    height: 680px;
}

/* -------------------------------------------------------- */
/* Tipografia */
.crea_tu_cuenta {
    color: #CA4E3C;
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
    padding-top: 32px;
    padding-left: 37.5px;
}

.completa_tus_datos {
    color: #5D717C;
    font-size: 20px;
    font-style: normal;
    line-height: 40px;
    padding-left: 37.5px;
}

/* -------------------------------------------------------- */
/* Inputs */
.formulario_registro_inputs {
    padding-left: 37.5px;
    padding-top: 20px;
}

.registro_inputs {
    display: flex;
    width: 443px;
    height: 50px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    border: 1px solid #000;
    background: #FFF;
    margin-bottom: 15px;
}

/* -------------------------------------------------------- */
/* Botones */

.botonGuardar_crearcuenta {
    border-radius: 100px;
    background: #CA4E3C;
    width: 185px;
    height: 54px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.div_botonGuardar_crearcuenta {
    display: flex;
    padding-top: 5px;
}

.ya_tengo_cuenta {
    padding-left: 37.5px;
    color: #5D717C;
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
}

/* -------------------------------------------------------- */
/* Google */
.boton_crear_cuenta_con_google {
    display: flex;
    width: 309px;
    height: 54px;
    padding: 10px;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    background: #FFF;
}

.texto_crea_cuenta_google {
    color: #5D717C;
    font-size: 16px;
    font-style: normal;
    line-height: 40px;
}

.div_crear_cuenta_con_google {
    padding-left: 37.5px;
    padding-top: 23px;
}

.icono_google_crearcuenta {
    width: 29px;
    height: 33px;
}

/* -------------------------------------------------------- */
/* Loader */
.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* Superponer sobre el formulario */
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    border: 1px solid #000;
    height: 150px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ddd 50%, #bbb 51%),
        linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
        radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%);
    background-position: 0 20px, 45px 0, 8px 6px, 55px 3px, 75px 3px, 95px 3px;
    background-size: 100% 4px, 1px 23px, 30px 8px, 15px 15px, 15px 15px, 15px 15px;
    position: relative;
    border-radius: 6%;
    animation: shake 3s ease-in-out infinite;
    transform-origin: 60px 180px;
    border: 1px solid #000;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    /* -------------------------------------------------------- */
    /* Div principal */
    .div_formulario_registro_principal {
        flex-direction: column;
        width: 320px;
        height: 540px;
        border-radius: 50px;
    }

    .div_formulario_registro_imagen {
        width: 100%;
        height: 180px;
        position: relative;
    }

    .formulario_registro_imagen {
        border-radius: 50px 50px 0px 0px;
        position: relative !important;
    }

    .div_formulario_registro {
        width: 425px;
        height: 680px;
    }

    /* -------------------------------------------------------- */
    /* Tipografia */
    .crea_tu_cuenta {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        padding-top: 1px;
        padding-left: 6px;
    }

    .completa_tus_datos {
        font-size: 14px;
        line-height: 18px;
        padding-left: 6px;
    }

    .ya_tengo_cuenta {
        font-size: 12px;
        font-style: normal;
        line-height: 25px;
    }

    /* -------------------------------------------------------- */
    /* Inputs */
    .formulario_registro_inputs {
        padding-left: 6px;
        padding-top: 6px;
    }

    .registro_inputs {
        width: 270px;
        height: 30px;
        gap: 5px;

        border-radius: 50px;
        margin-bottom: 6px;
    }

    /* -------------------------------------------------------- */
    /* Botones */
    .botonGuardar_crearcuenta {
        border-radius: 50px;
        width: 200px;
        height: 35px;
        gap: 1px;
        margin-top: -6px;
        margin-left: 0px;
        margin-right: 100px;
        padding-top: 4px;
    }

    .div_botonGuardar_crearcuenta {
        display: flex;
        padding-top: 8px;
    }

    /* -------------------------------------------------------- */
    /* Google */
    .boton_crear_cuenta_con_google {
        width: 309px;
        height: 40px;
        padding: 5px;
        gap: 1px;
        border-radius: 100px;
    }
    
    .texto_crea_cuenta_google {
        font-size: 14px;
        line-height: 20px;
    }
    
    .div_crear_cuenta_con_google {
        padding-top: 3px;
        padding-left: 0px;
        padding-right: 100px;
    }
    
    .icono_google_crearcuenta {
        width: 25px;
        height: 27px;
    }
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}