.fondo_cv {
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 714px;
    transition: transform 0.3s ease;
    overflow: hidden
}

.bg-comprar:hover,
.bg-vender:hover {
    transform: scale(1.1);
    /* Ajustar el nivel de zoom */
}

.principal_cv {
    display: flex;
    justify-content: center;
}

.boton_cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 192px;
}

.titulo_cv {
    width: 400px;
    height: 90px;
    border-width: 1px;
    border-color: white;

    color: #FFF;
    text-align: center;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.70);
    font-size: 40px;
    font-style: normal;
    line-height: normal;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {
    .fondo_cv {
        height: 130px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .principal_cv {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .boton_cv {
        margin-top: 0;
    }

    .titulo_cv {
        width: auto;
        height: 35px;
        font-size: 20px;
    }
}

/* Para dispositivos pequeños a medianos (por ejemplo, teléfonos grandes) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    .fondo_cv {
        height: 110px;
        display: flex;
        justify-content: center;
        width: 200px;
    }

    .principal_cv {
        width: 550px;
    }

    .boton_cv {
        margin-top: 5px;
    }

    .titulo_cv {
        width: 100px;
        height: 20px;
        font-size: 16px;
    }
}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .fondo_cv {
        height: 170px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .principal_cv {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .boton_cv {
        margin-top: 10px;
    }

    .titulo_cv {
        width: auto;
        height: 45px;
        font-size: 24px;
    }
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {
    .fondo_cv {
        height: 200px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .principal_cv {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .boton_cv {
        margin-top: 15px;
    }

    .titulo_cv {
        width: auto;
        height: 50px;
        font-size: 26px;
    }
}