.div_logoWhatsapp {
    padding-top: 300px;
    float: right;
}


/* Para dispositivos móviles */
@media screen and (max-width: 350px) {
    .div_logoWhatsapp {
        padding-top: 0px;
        margin-right: 10px;
        margin-top: -75px;
    }

    .logo_whatsapp_catalogo {
        width: 35px;
    }
}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    .div_logoWhatsapp {
        padding-top: 0px;
        margin-right: 6px;
    }

    .logo_whatsapp_catalogo {
        width: 45px;
    }
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {
    
}