@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.bannerHome {
  background-image: url("../../public/images/banner_home.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: max-content;
}

.logoWhatsapp {
  float: right;
  margin-top: 650px;
}

.menuInicio {
  font-size: larger;
  color: white;
}

.barraNavegacion{
  padding-top: 20px;
}

.barraBotones{
  padding-top: 100px;
  margin-right: 100px;
}

.botonera {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
}

.menuHeader {
  margin-right: 100px;
}

.menuNav {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 18px;
  gap: 4px;
}


/* Para dispositivos móviles */
@media screen and (max-width: 640px) {
  .bannerHome {
    background-size: cover; 
    background-repeat: no-repeat;
    height: 370px;
  }

  .logoWhatsapp {
    margin-top: 10px; 
    width: 80px;
    float: left;
  }

  .menuInicio {
    font-size: small;
    margin-top: 5px;
    color: black;
  }

  .botonera {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
  }

  .menuNav {
    display: flex;
    flex-direction: column-reverse;
    gap: 2px;
    align-items: start;
  }
}

/* Para dispositivos de escritorio entre 640px y 1024px */
@media (min-width: 640px) and (max-width: 1024px) {
  .bannerHome {
    height: 1350px;
    width: 100%;
  }

  .logoWhatsapp {
    float: left;
    margin-top: 180px;
    width: 80px;
  }

  .botonera {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
  }

  .menuNav {
    display: flex;
    flex-direction: column-reverse;
    /* gap: 4px; */
    align-items: start;
  }

  .menuInicio {
    font-size: smaller;
    /* margin-top: 5px; */
    color: white;
  }
}

/* Para pantallas de TV a partir de 1024px */
@media (min-width: 1024px) {
  .bannerHome {
    height: 1350px; 
    width: 100%;
  }
}
