@tailwind base;
@tailwind components;
@tailwind utilities;

.bannerHome {
  background-image: url("../../public/images/banner_home.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logoWhatsapp {
  float: right;
  margin-top: 780px;
}

.menuInicio {
  font-size: larger;
}

/* Para dispositivos móviles */
@media only screen and (max-width: 640px) {
  .bannerHome {
    background-size: cover; 
    background-repeat: no-repeat;
    /* height: 450px; */
    width: auto;
  }

  .logoWhatsapp {
    margin-top: 50px; 
  }
}

/* Para dispositivos de escritorio entre 640px y 1024px */
@media (min-width: 640px) and (max-width: 1024px) {
  .bannerHome {
    height: 1350px;
  }
}

/* Para pantallas de TV a partir de 1024px */
@media (min-width: 1024px) {
  .bannerHome {
    height: 1350px; 
  }
}
