@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.bannerHome {
  background-image: url("../../public/images/banner_home.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logoWhatsapp {
  /* padding-top: 650px; */
  float: right;
}

.menuInicio {
  font-size: larger;
  color: white;
}

.barraNavegacion {
  padding-top: 20px;
}

.barraBotones {
  padding-top: 100px;
  margin-right: 100px;
}

.botonera {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
}

.menuHeader {
  margin-right: 100px;
}

.menuNav {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 18px;
  gap: 4px;
}


/* Para dispositivos móviles */
@media screen and (max-width: 640px) {
  .bannerHome {
    width: 100%;
  }

  .logoWhatsapp {
    float: left;
    margin-top: -75px;
    width: 60px;
  }

  /* Menu de incio, catalago, sobre nosotros, contacto */
  .menuInicio {
    font-size: medium;
    color: white;
  }

  /* div principal */
  .menuHeader {
    margin-right: 0px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
  }

  .menuNav {
    padding-top: 470px;
    align-items: center;
  }

  /* ------------------- */

  /* Registro e inicio de sesion */
  .botonera {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .barraBotones {
    float: inline-end;
    margin-right: 3px;
    padding-top: 180px;
  }

  /* ------------------- */
}

/* Para dispositivos de escritorio entre 640px y 1024px */
@media (min-width: 640px) and (max-width: 1024px) {
  .bannerHome {
    height: 1350px;
    width: 100%;
  }

  .logoWhatsapp {
    float: left;
    margin-top: -85px;
    width: 80px;
  }

  /* .botonera {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
  } */

  /* .menuNav {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
  } */

  .menuInicio {
    font-size: medium;
    color: white;
  }
}

/* Para pantallas de TV a partir de 1024px */
@media (min-width: 1024px) {
  .bannerHome {
    height: 1350px;
    width: 100%;
  }
}