.menu_lateral_admin {
    background: #DAEBEB;
    padding-top: 15px;
    align-items: center;
    gap: 159px;
    width: 330px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.botones_menu_lateral {
    background: #DAEBEB;
    border-bottom: 1px solid #8D8D8D;
    padding-left: 40px;


    /* Tipografia */
    text-align: start;
    color: #000;
    font-size: 23px;
    font-style: normal;
    line-height: normal;
}

.botones_menu_lateral_activo {
    border-radius: 0px 0px 0px 0px;
    border-bottom: 1px solid #8D8D8D;
    background: #CA4E3C;

    /* Tipografia */
    padding-left: 40px;
    text-align: start;
    color: #000;
    font-size: 23px;
    font-style: normal;
    line-height: normal;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}