/* Saludo */
.menuopciones_catalogo {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.holaNoelia {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    padding-bottom: 15px;
    padding-right: 20px;
}

/* Iconos */
.menuopciones_catalogo_iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-right: 20px;
}

.iconos_menuopciones {
    width: 65px;
    color: white;
}

.icono_corazon_menuopciones .icono_mensajes_menuopciones .icono_cart_menuopciones {
    width: 31px;
    height: 28px;
}

.foto_perfil_menuopciones {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 2px solid #FFF;
}

.foto-perfil {
    width: 35px;
    height: 35px;
    border-radius: 35px;  
    border: 2px solid #FFF;
}

/* Menu desplegable */
.perfil-menu {
    display: none;
    position: absolute;
    width: 150px;
    height: 130px;
    padding-top: 15px;
    padding-left: 10px;
    flex-direction: column;
    align-items: flex-start;

    margin-left: -10px;

    border-radius: 10px;
    background: #CA4E3C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.perfil-menu-item {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    gap: 4px;
}

.barra_menu_item {
    padding-left: 0px;
}

.perfil-menu.show {
    display: block;
}

.perfil-menu.hide {
    display: none;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {

    /* Saludo */
    .menuopciones_catalogo {
        padding-top: 8px;
        padding-right: 10px;
    }

    .holaNoelia {
        font-size: 14px;
        padding-right: 0px;
        padding-bottom: 1px;
    }

    .icono_corazon_menuopciones .icono_mensajes_menuopciones .icono_cart_menuopciones {
        width: 20px;
        height: 20px;
    }

    .menuopciones_catalogo_iconos {
        gap: 8px;
        padding-right: 0px;
    }

    .iconos_menuopciones {
        width: 25px;
        color: white;
    }

    /* Menu desplegable */
    .perfil-menu {
        width: 80px;
        height: 100px;
        padding-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
        margin-left: -50px;
    }

    .perfil-menu-item {
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 4px;
    }

}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}