/* Saludo */
.menuopciones_catalogo {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.holaNoelia {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    padding-bottom: 15px;
}

/* Iconos */
.menuopciones_catalogo_iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.iconos_menuopciones {
    width: 65px;
    color: white;
}

.icono_corazon_menuopciones .icono_mensajes_menuopciones .icono_cart_menuopciones {
    width: 31px;
    height: 28px;
}

.foto_perfil_menuopciones {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 2px solid #FFF;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {

    /* Saludo */
    .menuopciones_catalogo {
        padding-top: 8px;
        padding-right: 10px;
    }

    .holaNoelia {
        font-size: 14px;
        padding-right: 0px;
        padding-bottom: 1px;
    }

    .icono_corazon_menuopciones .icono_mensajes_menuopciones .icono_cart_menuopciones {
        width: 20px;
        height: 20px;
    }

    .menuopciones_catalogo_iconos {
        gap: 15px;
    }
    
    .iconos_menuopciones {
        width: 25px;
        color: white;
    }
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}