/* Saludo */
.menuopciones_catalogo {
    padding-top: 24px;
    padding-right: 85px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;
}

.holaNoelia {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    padding-right: 21px;
}

/* Iconos */
.menuopciones_catalogo_iconos {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.iconos_menuopciones {
    padding-right: 25px;
    width: 65px;
    color: white;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {

    /* Saludo */
    .menuopciones_catalogo {
        padding-top: 8px;
        padding-right: 10px;
    }

    .holaNoelia {
        font-size: 14px;
        padding-right: 10px;
    }

    /* Iconos */
    .menuopciones_catalogo_iconos {
        padding-top: 10px;
    }

    .iconos_menuopciones {
        padding-right: 10px;
        width: 30px;
        color: white;
    }

}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}