.etiqueta_nuevo {
    display: flex;
    position: absolute;
    background-color: #A63729;

    margin: 15px;

    width: 65px;
    height: 65px;
    justify-content: center;
    align-items: center;

    border-radius: 65px;
}

.nuevo_etiqueta {
    padding: 3px;
    transform: rotate(-45deg);
    color: white;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
