.bannerNewsLetter {
    width: 100%;
    height: 428px;
    flex-shrink: 0;
}

.mantente_newsLetter {
    color: #CA4E3C;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    line-height: 51px;
    padding-top: 108px;
}

.principal_newsLetter {
    display: flex;
}

.suscribite_newsLetter {
    display: flex;
    width: 527px;
    height: 111px;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.letraSuscribite_newsLetter {
    color: #5D717C;
    text-align: right;
    font-size: 28px;
    font-style: normal;
    line-height: 50px;
}

.inputNews {
    border-radius: 25px;
    border: 1px solid #6F6F6F;
    height: 45px;
    width: 350px;
    padding: 8px;
}

.inputDiv_newsLetter {
    display: flex;
    width: 379px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* .divBoton {
    padding-left: 10px;
    justify-content: center;
} */

.divBoton_news {
    padding-left: 15px;
}


/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {

    /* Fondo */
    .bannerNewsLetter {
        width: 360px;
        height: 210px;
        margin: 0px;
        padding: 0px;
    }

    .mantente_newsLetter {
        font-size: 16px;
        line-height: 10px;
        padding-top: 40px;
    }

    .principal_newsLetter {
        display: block;
    }

    /* Suscribite a nuestro newsletter*/
    .suscribite_newsLetter {
        height: 55px;
        width: 351px;
        padding: 10px;
    }

    .letraSuscribite_newsLetter {
        font-size: 14px;
        text-align: center;
        line-height: 16px;
    }

    /* input de email */
    .inputDiv_newsLetter {
        width: 351px;
        padding: 0px 0px 10px 0px;
    }

    .inputNews {
        width: 220px;
        padding: 6px;
        font-size: 11px;
        height: 28px;
    }

    /* boton de suscribite*/
    .divBoton_news {
        padding-left: 0px;
        width: 351px;
        height: 37px;
        display: flex;
        justify-content: center;
    }
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}