.menuHeader {
    margin-right: 100px;
  }
  
  .menuNav {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 18px;
    gap: 4px;
  }

  .menuInicio {
    font-size: larger;
    color: white;
  }


  @media screen and (max-width: 640px) {
    /* Menu de incio, catalago, sobre nosotros, contacto */
    .menuInicio {
        font-size: small;
        color: black;
        align-content: center;
      }
    
      /* div principal */
      .menuHeader {
        /* display: block; */
        width: 80%;
      }
    
      .menuNav {
        align-items: center;
      }

  }