/* navbar.css */
.bannerHome_header {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra horizontalmente */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 120px; /* Altura mínima */
    padding: 10px 20px;
    box-sizing: border-box;
}

.bg-portada {
    width: 100%;
    height: 100%;
}

.barraNavegacion {
    padding-top: 20px;
}


/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    .bannerHome_header {
        min-width: 250px;
        max-width: 640px;
        min-height: 250px;
        margin-bottom: 5px;
    }

    .bg-portada {
        background-size: contain;
    }
}

@media (min-width: 768px) {
    .bannerHome_header {
        min-height: 180px;
    }
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {
    .bannerHome_header {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .bannerHome_header {
        min-height: 220px;
    }
}