.logoWhatsapp {
    width: 88px;
    height: 88px;
}

.div_logoWhatsapp {
    padding-top: 1000px;
    float: right;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    .div_logoWhatsapp {
        padding-top: 62px;
        float: right;
    }

    .logoWhatsapp {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {
 
}