.logoWhatsapp {
    padding-top: 950px;
    float: right;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {

}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    .logoWhatsapp {
        padding-top: 5px;
        margin-top: 48px;
        width: 55px;
    }
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {
    .logoWhatsapp {
        float: left;
        margin-top: -85px;
        width: 80px;
    }
}