.card_ella {
    height: 420px;
    background-color: #DAEBEB;
    border-radius: 15px;
}

.imagen_card_ella {
    height: 280px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    .card_ella {
        height: 325px;
        width: 68%;
        margin-left: 40px;
    }

    .imagen_card_ella {
        height: 190px;
    }
    
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}