.ropaElla_cardElla {
    margin-bottom: 50px;
}

.ropaElla_h1 {
    color: #CA4E3C;
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
    padding-left: 28px;
}

/* Para dispositivos móviles */
@media screen and (max-width: 350px) {}

/* Para dispositivos medianos a grandes (por ejemplo, tablets pequeñas) */
@media screen and (min-width: 351px) and (max-width: 600px) {
    .ropaElla_h1 {
        font-size: 18px;
    padding-left: 18px;
    line-height: 30px;
    }
}

/* Para dispositivos grandes (por ejemplo, tablets grandes o pantallas pequeñas de computadoras) */
@media screen and (min-width: 901px) and (max-width: 1023px) {}